<div class="jumbotron">
  <h1 class="display-3">OpenGraph Previewer</h1>
</div>
<div class="container">
  <div class="row">
    <%= form_with(id: 'new-preview') do %>
      <div class="form-group">
        <%= text_field(:opengraph, :url,
                       size: 100, class: 'form-control',
                       id: 'url-text', placeholder: "Introduce your URL") %>
      </div>
      <div class="row">
        <div class="col-sm">
          <%= submit_tag('Preview', class: 'btn btn-primary' ) %>
        </div>
        <div class="col-sm">
          <div class="invisible" id="spinner-section">
            <div class="row">
              <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div id="message">
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p/>
  <div class="row">
    <div id="responses">
    </div>
  </div>
  <div class="invisible" id="error-div">
    <div class="row">
      <div class="alert alert-danger" role="alert" id="errors">
          A simple danger alert—check it out!
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'preview/show.js' %>
